<!DOCTYPE html>
<html>
    <head>
            <title>Game List App Page</title>
            <meta charset="UTF-8">
            <link href="form.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <form action="/" method="POST">
            <h3>Enter your game here</h3>
            <label>Title of Game</label>
            <input type="text" name="title" required>
            <br>
            <label>Genre of the game</label>
            <input type="text" name="genre" required>
            <br>
            <button type="submit">Submit Game</button>
        </form>
    </body>
    <body2>
        <h1>My name is Rui Santos</h1>
        <h2>Here are my favorite things</h2>
        <label>1. I love playing basketball. <br>
        2. I like seeing my friends <br>
        3. I like passing my classes <br>
        4. I like working at my job <br>
        5. Boston Celtics are my favorite team <br>
        6. Rhode Island will always be my home <br>
        7. My college is awesome <br>
        8. Seeing my fellow students succeed <br>
        9. Conversations to learn new outlooks <br>
        10. Gears of war 1, 2 and 3 were my favorite games <br>
        </label>
    </body2>
    <a href="/topic1">Add To List</a>
    <a href="/topic2">Login</a>
</html>