<!DOCTYPE html>
<html lang="en">

        <head>
                <meta charset="UTF-8">
                
                <title>First Topic</title>
        </head>
<body>

               <form>
                       <label>What do you like?</label>
                       <br>
                       <input type="text" required="true"></input>
                       <br>
                       <label>Why do you like it?</label>
                       <br>
                       <input type="text" required="true"></input>
                       <br>
                        <label>Did someone make it?</label>
                       <br>
                       <input type="text" required="true"></input>
                       <br>
                       <input type="submit"></input>
                       <br>
                       <br>
                       <br>
               </form>

</body>

<a href="/">Back to List</a>


</html>